* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fback_origin_pic%2F05%2F06%2F82%2F976e7c4631828134cd09e6e9b70c310d.jpg&f=1&nofb=1");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    border: 5px solid white;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.photo {
    width: 300px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.3);
}
