* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fback_origin_pic%2F05%2F06%2F82%2F976e7c4631828134cd09e6e9b70c310d.jpg&f=1&nofb=1");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.photo {
    width: 300px;
    height: 200px;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.3);
}

p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.first {
        background-image: url("https://d1bvpoagx8hqbg.cloudfront.net/originals/erasmus-experience-napoli-italy-andrea-5c6c2db09fc51ea50f5725f74852087e.jpg");
}

.second {
    background-image: url("https://images.ctfassets.net/niwziy2l9cvz/4c6yo5FbxeWMWME6GK8Koo/1dccd39facba40d5778fa32f789a4ae4/Rome-colosseum-1500x850.JPG");
}

.third {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Piazza_del_Duomo_-_kuhnmi.jpg/1200px-Piazza_del_Duomo_-_kuhnmi.jpg");
}
